<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script type="text/javascript"
	src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
	
</script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>

<script
	src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.js"></script>
<script type="text/javascript" charset="utf8"
	src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{/Buttons-1.7.0/css/buttons.dataTables.css}" />

<script
	src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
<link href="../../css/header.css" rel="stylesheet"
	th:href="@{/css/header.css}">
<link href="../../css/main.css" rel="stylesheet"
	th:href="@{/css/main.css}">
<link href="/fontawesome/css/all.css" rel="stylesheet">
<title>Listes des prospects</title>
</head>


<script src="bstable.js"></script>


<body>
	<div th:replace="/fragment/header :: header"></div>
	<div class="container-fluid d-flex flex-column justify-content-center">

		<div class="d-flex flex-row justify-content-center w-100">
			<div
				class="card titre shadow-lg bg-dark text-white w-50 text-center p-2">
				<h1>Liste des prospects directs</h1>
			</div>
		</div>
		<div
			class="d-flex flex-row justify-content-center w-100 text-center my-4 bloc">
			<div class="col-3">
				<div class="card">bloc1</div>
			</div>
			<div class="col-3">
				<div class="card">bloc2</div>
			</div>
			<div class="col-3">
				<div class="card">bloc3</div>
			</div>
		</div>
		<div class="d-flex flex-row justify-content-center w-100 mainTableau">

			<table class="table table-dark table-bordered mt-4 text-center"
				id="datatable">
				<thead>
					<tr>
						<th scope="col">Date</th>
						<th scope="col">Civilite</th>
						<th scope="col">Nom</th>
						<th scope="col">Télèphone</th>
						<th scope="col">Travaux chaudière</th>
						<th scope="col">Travaux solaires</th>
						<th scope="col">Travaux isolation</th>
						<th scope="col">Travaux divers</th>
						<th scope="col">Appel?</th>
						<th scope="col">Messagerie?</th>
						<th scope="col">RDV?</th>
						<th scope="col">Transformation</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="prospect : ${liste}"
						class="bg-light text-dark font-weight-bold text-center">
						<td
							th:text="${#dates.format(prospect.demandeDate, 'dd-MMM-yyyy')}"></td>
						<td th:text="${prospect.civilite}"></td>
						<td th:text="${prospect.nom}"></td>
						<td th:text="${prospect.telephone}"></td>
						<td th:if="${prospect.isChaudiere == true}"><div
								class="alert alert-success p-0 px-0 my-0">Oui</div></td>
						<td th:if="${prospect.isChaudiere != true}"><div
								class="alert alert-danger p-0 px-0 my-0">Non</div></td>
						<td th:if="${prospect.isSolaire == true}" class="text-success"><div
								class="alert alert-success p-0 px-0 my-0">Oui</div></td>
						<td th:if="${prospect.isSolaire != true}" class="text-danger"><div
								class="alert alert-danger p-0 px-0 my-0">Non</div></td>
						<td th:if="${prospect.isIsolation == true}" class="text-success"><div
								class="alert alert-success p-0 px-0 my-0">Oui</div></td>
						<td th:if="${prospect.isIsolation != true}" class="text-danger"><div
								class="alert alert-danger p-0 px-0 my-0">Non</div></td>
						<td th:if="${prospect.isDivers == true}" class="text-success"><div
								class="alert alert-success p-0 px-0 my-0">Oui</div></td>
						<td th:if="${prospect.isDivers != true}" class="text-danger"><div
								class="alert alert-danger p-0 px-0 my-0">Non</div></td>
						<td th:if="${prospect.isAppel == true}" class="text-success"><div
								class="alert alert-success p-0 px-0 my-0">Oui</div></td>
						<td th:if="${prospect.isAppel != true}" class="text-danger"><div
								class="alert alert-danger p-0 px-0 my-0">Non</div></td>
						<td th:if="${prospect.isMessagerie == true}" class="text-success"><div
								class="alert alert-success p-0 px-0 my-0">Oui</div></td>
						<td th:if="${prospect.isMessagerie != true}" class="text-danger"><div
								class="alert alert-danger p-0 px-0 my-0">Non</div></td>
						<td th:if="${prospect.isRdv == true}" class="text-success"><div
								class="alert alert-success p-0 px-0 my-0">Oui</div></td>
						<td th:if="${prospect.isRdv != true}" class="text-danger"><div
								class="alert alert-danger p-0 px-0 my-0">Non</div></td>
						<td th:if="${prospect.isPasInteresse == true}"
							class="text-success"><div
								class="alert alert-success p-0 px-0 my-0">Oui</div></td>
						<td th:if="${prospect.isPasInteresse != true}" class="text-danger"><div
								class="alert alert-danger p-0 px-0 my-0">Non</div></td>
						<td class="d-flex flex-row justify-content-between p-3 m-0"><a
							href="#"><i class="fas fa-edit text-warning"></i></a><a href="#"><i
								class="far fa-arrow-alt-circle-right text-success"></i></a><a
							href="#"><i class="fas fa-trash-alt text-danger"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script>
		/*<![CDATA[*/
		$(document).ready(function() {
			$('#datatable').DataTable({});

		});
		/*]]>*/
	</script>
</body>

</html>